<div dir="rtl" class="min-h-screen bg-gray-50 py-10 px-5 md:px-20">
  <div class="text-center mb-10">
    <h1 class="text-4xl font-bold text-gray-800 mb-3">الامتحانات المتاحة</h1>
    <p class="text-gray-500">اختر الامتحان الذي ترغب في البدء فيه</p>
  </div>

 @if(Exams.length == 0){
<h2 class="text-center text-red-800">ليست هناك اي امتحانات متاحة</h2>
  <button routerLink="/Home" class="ml-auto text-white px-4 py-2 bg-blue-600 rounded">
      Back to Home
    </button>
 }
 @else {
   <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-8">
    @for( exam of Exams ; track $index ){
<div
      class="bg-white border border-gray-200 shadow-sm hover:shadow-md rounded-2xl transition-all duration-300 p-5 flex flex-col justify-between"
    >
      <div>
        <h3 class="text-xl font-semibold text-gray-800 mb-2">
          {{exam.title}}
        </h3>
      </div>
      <div class="mt-4 space-y-2 text-sm text-gray-600">
        <div class="flex items-center justify-between">
          <span>⏱️ المدة:</span>
          <span class="font-medium">{{exam.duration}} دقيقة</span>
        </div>
        <div class="flex items-center justify-between">
          <span>📅 متاح من:</span>
          <span class="font-medium"> {{exam.startTime}}</span>
        </div>
      </div>
      <button [routerLink]="['/ExamDetails' , exam.id]"
        class="mt-6 bg-blue-600 text-white font-semibold py-2 rounded-xl hover:bg-blue-700 transition duration-200"
      >
        ابدأ الامتحان
      </button>
    </div>
    }

   
  </div>
 }
   <button routerLink="/Home" class="ml-auto text-white mt-2 px-4 py-2 bg-blue-600 rounded">
      Back to Home
    </button>
</div>
